@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
   display: none;
}

body,
.bg {
   background: #ff0084;
   background: -webkit-linear-gradient(to right, #33001b, #ff0084);
   background: linear-gradient(to right, #33001b, #ff0084);
   color: white;
}

.bg-rev {
   background: #ff0084;
   background: -webkit-linear-gradient(to right, #ff0084, #33001b);
   background: linear-gradient(to right, #ff0084, #33001b);
}

@layer utilities {
   .no-scrollbar::-webkit-scrollbar {
      display: none;
   }

   .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}

@layer base {
   input[type='number']::-webkit-inner-spin-button,
   input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
}

.ant-upload,
.ant-upload-select {
   height: 200px !important;
   width: 200px !important;
}
